.app {
    display: block;
}

.addBlockButton {
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2F7BFDFF;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.boardList {
    display: flex;
}

.board {
    width: 20vw;
    height: 95vh;
    display: block;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    margin-right: 10px;
}

.boardEdit {
    width: 25.5vw;
}

.block {
    border: 2px solid;
    border-radius: 5px;
    width: 19vw;
    min-height: 34px;
    background-color: white;
    display: block;
    cursor: grab;
    padding-left: 5px;
}

.editBlockForm {
    display: block;
    margin: 10px;
}

.blockFormItem {
    margin: 5px;
}

.blockFormItem div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.blockInserted {
    width: 18vw;
    margin: 5px 0 5px 7px;
}

.blockSelected {
    background: dodgerblue;
}

.blockEdit {
    width: 24vw;
}

.blockEditLogic {
    width: 25vw;
}

.blockDiv {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
}

.block button{
    width: 40px;
    height: 34px;
    margin-right: -2px;
    border-radius: 0 5px 5px 0;
    border: 0;
    border-right: 2px solid black;
    background-color: #2F7BFDFF;
    color: #fff;
    cursor: pointer;
}

.boardLineHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editBlockButton {
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-self: right;
    align-self: flex-end;
    background-color: #2F7BFDFF;
    color: #fff;
    border-radius: 5px;
    margin-right: 8px;
}

.editIcon {
    height: 20px;
    width: 20px;
}

.pencilIcon {
    height: 20px;
    width: 20px;
}

.mainMenu {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
}

.mainMenu div{
}

.mainMenu div button{
    height: 25px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
}

.smallBlock {
    border: 2px solid;
    border-radius: 5px;
    width: 60px;
    height: 10px;
    background-color: lightblue;
}

.dropBox {
    width: 18vw;
    min-height: 15px;
    height: 100%;
}