.app {
    display: block;
}

.addBlockButton {
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    justify-self: right;
    align-self: flex-end;
    background-color: #2F7BFDFF;
    color: #fff;
    border-radius: 5px;
}

.boardList {
    display: flex;
}

.board {
    width: 19vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    margin-right: 10px;
}

.block {
    border: 2px solid;
    border-radius: 5px;
    width: 18vw;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.block button{
    width: 55px;
    height: 34px;
    margin-right: -2px;
    border-radius: 5px;
    border: 0;
    background-color: #2F7BFDFF;
    color: #fff;
    cursor: pointer;
}

.block div{
    margin-left: 10px;
}

.mainMenu {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-bottom: 5px;
}

.mainMenu div{
}

.mainMenu div button{
    height: 25px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
}

.smallBlock {
    border: 2px solid;
    border-radius: 5px;
    width: 60px;
    height: 10px;
    background-color: lightblue;
}

.dropBox {
    width: 18vw;
    min-height: 15px;
    height: 100%;
}